table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
  background-color: yellow;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;

}

td {
  background-color: pink;
}
